._*
.ensime
.ensime~
.ensime_lucene/
.history
.idea_modules/
.idea/
.metadata/
.Trashes
*.iml
*.orig
*.sw
*.swp
*.tgz
/.idea/
*.sublime-workspace

# Eclipse-specific ignores
.cache
.classpath
.project
.settings/

# VIM ignores
*.swo
*.swp

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
